/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root Variables */
:root {
    --vibrant-pink: #FF007F;
    --vibrant-green: #00FF00;
    --vibrant-blue: #00BFFF;
    --vibrant-purple: #8000FF;
    --vibrant-yellow: #FFD700;
    --white: #FFFFFF;
    --black: #000000;
    --background-pink: #FF007F;
    --background-purple: #8000FF;
    --hover-pink: #FF69B4;
    --bg-main: linear-gradient(to right, #8000FF, #FF007F);
}

/* Body and Fonts */
body, h1, h2, h3, p {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    background: var(--bg-main);
    background-size: cover;
}

/* Navbar */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--background-pink);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
}

#brand {
    display: flex;
    align-items: center;
}

#word-mark {
    margin-left: 20px;
}

.olivia-magyar {
    font-size: 2.5rem;
    font-family: 'Lobster', cursive;
    color: var(--white);
    text-shadow: 2px 2px var(--black);
}

#menu {
    display: flex;
    align-items: center;
}

#menu-toggle {
    display: none;
    width: 55px;
    height: 55px;
    background: var(--background-pink);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

#menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 24px;
}

.bar {
    width: 25px;
    height: 2px;
    background: var(--white);
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
}

li {
    margin-left: 20px;
}

a {
    color: var(--white);
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

a:hover, a:focus {
    background-color: var(--hover-pink);
    color: var(--white);
    outline: none;
    transform: scale(1.05);
}

/* Mobile Navbar */
@media (max-width: 768px) {
    #menu-toggle {
        display: flex;
    }
    ul {
        display: none;
        flex-direction: column;
        background: var(--background-pink);
        position: absolute;
        top: 70px;
        right: 20px;
        width: 200px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    ul.showMenu {
        display: flex;
    }
    li {
        margin-left: 0;
    }
}

/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Heading Styles */
.h1-style, h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 0;
    color: var(--vibrant-pink);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px var(--black);
}

h2, h3 {
    font-weight: 700;
    color: var(--vibrant-blue);
    text-shadow: 2px 2px var(--black);
}

p {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--black);
    text-shadow: 1px 1px var(--white);
}

/* Content Section */
.content-section {
    margin-top: 5rem;
    padding: 1rem 0;
}

.whois-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.whois-container img {
    max-width: 100%;
    border: none;
    margin-bottom: 1rem;
}

.text-container h1 {
    font-size: 2.5rem;
    color: var(--black);
    font-family: 'Lobster', cursive;
    text-shadow: 2px 2px var(--white);
}

.text-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 1px 1px var(--white);
}

/* Social Section */
.social-icon {
    font-size: 2rem;
    color: var(--black);
    margin: 0 1rem;
    transition: color 0.3s ease-in-out;
}

.social-icon:hover {
    color: var(--vibrant-pink);
}

/* Tumblr Post */
.tumblr-post {
    margin: 2rem 0;
}

/* Carousel Styles */
.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    perspective: 1000px;
    display: flex;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.card-container {
    flex: 0 0 100%;
    opacity: 0.5;
    transition: opacity 0.5s;
}

.card-container.active {
    opacity: 1;
}

.card {
    background-color: #fff;
    border-radius: 15px;
    padding: 1rem;
    text-align: center;
    color: #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    z-index: 10;
    text-shadow: 2px 2px var(--black);
}

.nav.left {
    left: 10px;
}

.nav.right {
    right: 10px;
}

@media (max-width: 768px) {
    .h1-style, h1 {
        font-size: 2rem;
    }
    p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .h1-style, h1 {
        font-size: 1.5rem;
    }
    p {
        font-size: 0.875rem;
    }
}
