#blog .container {
    padding-right: 40px;
    padding-left: 40px;
}

#blog h1, #blog p {
    text-align: right;
}

#blog h1 {
    font-size: 60px;
    margin-top: 0;
}

#blog {
    background-image: url('https://via.placeholder.com/1200x800');
}