#social .container {
    padding-left: 40px;
    padding-right: 40px;
}

#social h1, #social p {
    text-align: left;
}

#social h1 {
    font-size: 60px;
    margin-top: 0;
}

#social {
    background-image: url('https://via.placeholder.com/1200x800');
}